<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638732060191-mld118949k3o5tik2hqh8f77nnohmggp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638732060191-mld118949k3o5tik2hqh8f77nnohmggp</string>
	<key>API_KEY</key>
	<string>AIzaSyBwtvbuWga7vqBsT3N7_yIEhJaANVhS4Ic</string>
	<key>GCM_SENDER_ID</key>
	<string>638732060191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firefly</string>
	<key>PROJECT_ID</key>
	<string>firefly-27144</string>
	<key>STORAGE_BUCKET</key>
	<string>firefly-27144.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638732060191:ios:5efc15e72710b04fc1772a</string>
</dict>
</plist>